<div class="container d-block">
  <a href="#" class="btn btn-outline-secondary">
    <i class="bi bi-arrow-left"></i>
  </a>
</div>
<div class="container mt-4">
  <div class="d-block">
    <button
      class="action-btn p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 float-end"
      [routerLink]="['/creer-compte']"
    >
      Créer un compte
    </button>
  </div>
  <div class="d-block justify-content-between align-items-center mb-3">
    <h4 class="fw-bold text-primary col-4">Gestion des comptes créés</h4>
    <div class="d-flex">
      <div class="me-2 d-flex">
        <input type="text" class="form-control" placeholder="Numéro compte" />
        <button class="btn btn-outline-secondary ps-4"><i class="bi bi-search"></i></button>
      </div>
      <div>
        <select class="me-2">
          <option>Type</option>
          <option>Client</option>
          <option>Distributeur</option>
        </select>
      </div>
    </div>
  </div>

  <div class="list-group">
    <div
      *ngFor="let c of comptes"
      class="list-group-item d-flex justify-content-between align-items-center mb-2"
    >
      <div>
        <strong>{{ c.nom }} {{ c.numero }} ({{ c.type }})</strong><br />
        <small>{{ c.date }}</small>
      </div>
      <div>
        <span
          class="badge"
          [ngClass]="{ 'bg-success': c.statut === 'Actif', 'bg-danger': c.statut === 'Bloqué' }"
          >{{ c.statut }}</span
        >
        <button class="btn btn-outline-primary btn-sm me-2" (click)="modifier(c)">Modifier</button>
        <button
          *ngIf="c.statut === 'Actif'"
          class="btn btn-outline-danger btn-sm"
          (click)="bloquer(c)"
        >
          Bloquer
        </button>
        <button
          *ngIf="c.statut === 'Bloqué'"
          class="btn btn-outline-success btn-sm"
          (click)="debloquer(c)"
        >
          Débloquer
        </button>
      </div>
    </div>
  </div>
</div>
